<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">

    <insert id="save">
        INSERT INTO tbl_score (name, kor, eng, math, total, average, grade)
        VALUES (#{name}, #{kor}, #{eng}, #{math}, #{total}, #{average}, #{grade})
    </insert>

    <delete id="deleteByStuNum">
        DELETE FROM tbl_score WHERE stu_num=#{stuNum}
    </delete>

<!--    <resultMap id="score" type="com.spring.mvc.chap04.entity.Score">-->
<!--        <result property="stuNum" column="stu_num" />-->
<!--    </resultMap>-->

    <select id="findAll" resultType="score">
        SELECT * FROM tbl_score
        ORDER BY
        <choose>
            <when test='sort.equals("name")'>
                name
            </when>
            <when test='sort.equals("avg")'>
                average DESC
            </when>
            <otherwise>
                stu_num
            </otherwise>
        </choose>
    </select>

    <select id="findByStuNum" resultType="score">
        SELECT * FROM tbl_score WHERE stu_num=#{stuNum}
    </select>

    <update id="modify">
        UPDATE tbl_score SET kor=#{kor}, eng=#{eng}, math=#{math}, total=#{total}, average=#{average}, grade=#{grade} WHERE stu_num=#{stuNum}
    </update>

</mapper>